<h2>Category</h2>

Name:<%=@category["name"]%>
<br><br>
<strong>Product Listing</strong><br>
<ul>
		<%@products.each do |product|%>
			<%if @category["id"] == product["category_id"]%>
				<li><%=link_to product["name"],product_path(product["id"])%></li>
			<%end%>
		<%end%>
	</ul>