<h1>Orders Details</h1>

<%count=0%>
<table border="1">
	<thead>
		<tr>
			<th>No.</th>
			<th>Order number</th>
			<th>Order date</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
		<%@orders.each do |order|%>
		<tr>
			<td><%=count += 1%></td>
			<td><%=order["order_no"]%></td>
			<td><%=order["order_date"]%></td>
			<td><%=order["total"]%></td>
		</tr>
		<%end%>
	</tbody>
</table>